body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1F27;
}
.box{
    color: rgb(203, 208, 247);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(24, 25, 32);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset{
    border: 1px solid rgba(235, 220, 220, 0.26);
}
legend{
    border: 1px solid #1B1F27;
    padding: 10px;
    text-align: center;
    background-color: #1B1F27;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_chamado{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background: transparent;
    width: 100%;
    border: 1px solid #5568FE;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    transition: 1s;
    background-color: #5568FE
}